name: GoReleaser Dry Run
on:
  pull_request:
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.6'
      - name: Run GoReleaser (dry run)
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --snapshot # Perform a dry run
          version: latest
